html, body {
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;
	font-size: 14px;
	height: 100%;
}

p{
	font-weight: lighter;
}

header {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 1;
	background-color: rgba(255, 255, 255, .9);
}

.nav-logo img {
	height: 25px;
	width: 160px;
	margin: 12px 70px;
	display: inline-block;
}

ul{
	list-style: none;
	display: inline-block;
	float:right;
	margin-right: 70px;
}

li{
	display: inline;
	margin: 10px;
}

nav ul a {
	font-size: 1.2em;
	color: #323232;
	text-decoration: none;
}

nav ul a:hover{
	text-decoration: underline;
}

nav ul a:active{
	color: red;
}

nav ul a:visited{
	color: #323232;
}

main {
	height: 100%;
	overflow: auto;
}

.top {
	background-image: url("file:///Users/pohsuan/Desktop/radioflux_web/resources/02.jpeg");
	background-size: cover;
	height: 100%;
	position: relative;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.slogan {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	color: white;
}

.slogan h1 {
	font-size: 5.5em;
	margin-bottom: 35px;
}

.slogan h1 span {
	display: inline-block;
	line-height: 2;
	vertical-align: top;
}

.slogan h1 img {
	display: inline-block;
	width: 30px;
	height: 45px;
	margin: 0 35px;
}

.slogan h1 .align-right {
	line-height: 1;
}

.slogan h3 {
	font-size: 2.5em;
	width: 100%;
	font-weight: lighter;
}

.service{
	width: 100%;
	height: 580px;
	background-color: #ffffff;
	font-size: 1.25em;
}

.service .left{
	width: 50%;
	height: 100%;
	display: inline-block;
}

.service .left .first{
	position: relative;
	width: 60%;
	margin: 0% 10% 20% 30%;
	top: 20%;
	transform: translateY(-50%);
	display: block;
}

.service .left .third{
	position: relative;
	width: 60%;
	margin: 20% 10% 0px 30%;
	display: block;
}

.service .right{
	width: 50%;
	height: 100%;
	display: inline-block;
	float: right;
}

.service .right .second{
	position: relative;
	margin:0% 19% 0% 10%;
	width: 60%;
	top: 45%;
	transform: translateY(-50%);
}

.portfolio{
	width: 100%;
	height: 580px;
	background-color: #000000;
}

.company{
	width: 100%;
	height: 580px;
	background-color: #969696;
	font-size: 1.25em;	
}

.company .left{
	position: relative;
	width: 50%;
	height: 100%;
	display: inline-block;
}

.company .about-us{
	position: relative;
	width: 60%;
	margin: 10% 10% 20% 30%;
	display: block;
}

.company .slogan{
	position: relative;
	width: 550px;
	margin: 0px 0px 0px 40px;
	left: 20%;
	display: block;
}

.company .right{
	width: 50%;
	height: 100%;
	display: inline-block;
	float: right;
}

.company .right .partners{
	position: relative;
	margin:10% 0% 0px 10%;
	width: 60%;
}

footer{
	background-color: #646464;
}